
{% extends "base.html" %}

{% block content %}
    
    <div class="container mt-5">

      <hr>

      {% if messages %}
      {{message.tags}}
      <div class="alert alert-danger" role="alert">
      {% for message in messages %}
      {{message}}
      {% endfor %}

      </div>
      {% endif %}

        <form class="col-6 mx-auto card p-3 shadow-lg" method="POST"  enctype="multipart/form-data">
            {% csrf_token %}
            <h3>Add Recipe</h3>
            <hr>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Receipe Name</label>
              <input name="recipe_name" type="text" required class="form-control">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Recipe Details</label>
                <textarea name="recipe_details" required class="form-control"></textarea>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Recipe Image</label>
                <input name="recipe_image" required type="file" class="form-control">
              </div>
            <button type="submit" class="btn btn-success">Submit Recipe</button>
          </form>


    </div>



{% endblock %}